<div id="<%= dom_id instrumento %>" class="box">
  <div class="content">
    <p class="title is-4">Nombre:</p>
    <p><%= instrumento.nombre %></p>

    <p class="title is-4">Tipo:</p>
    <p><%= instrumento.tipo %></p>

    <p class="title is-4">Marca:</p>
    <p><%= instrumento.marca %></p>

    <p class="title is-4">Precio:</p>
    <p><%= instrumento.precio %></p>
  </div>

   <%= link_to "Volver", '/' %>
</div>

 
