<p class="has-text-success"><%= notice %></p>

<%= render @pedido %>

<div class="buttons">
  <%= link_to "Editar", edit_pedido_path(@pedido), class: "button is-link" %> |
  <%= link_to "Lista de pedidos", pedidos_path, class: "button is-link" %>

  <%= button_to "Eliminar", @pedido, method: :delete, data: { confirm: "Are you sure?" }, class: "button is-danger" %>
</div>
